/* ==========================================================================
    #Services
========================================================================== */

/* Header */

.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo-1 .large-header {
  background-image: url('../img/home/bg-main.jpg');
}

.hero-overlay {
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  color: #f9f1e9;
  position: absolute;
  text-align: center;
  font-family: 'Raleway', Calibri, Arial, sans-serif;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.hero-overlay p {
  font-size: 22px;
}
.main-title {
  font-weight: bold;
}

.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
  .hero-overlay p {
    display: none;
  }
}

/* ==========================================================================
    #Services
========================================================================== */

#services {
  background-color: var(--black-shade-3);
}

#services .services-row {
  cursor: pointer;
}

#services .services-row .service {
  padding: 20px 40px;
}

#services .services-row .service .service-main img {
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

#services .service-description {
  padding: 0 40px;
}

#services .service-description ul .half-list {
  width: 100%;
  display: inline-block;
}

#services .service-description ul li {
  opacity: 0;
  padding-top: 3px;
}
#services .service-description ul {
  list-style-type: none;
}

#services .service-description ul.two-col {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  padding: 0;
}

#services .service-description ul.two-col li {
  list-style-position: inside;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

#services .services-row .service-second {
  background-color: var(--black-shade);
}

#services .services-row .service h2 {
  font-family: 'Michroma', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#services .services-row .service h2,
p {
  text-align: center;
}

#services .services-row .service p strong {
  font-weight: normal;
  color: var(--main-color);
}

#services .service .service-main {
  cursor: pointer;
}

#services .service:hover .service-main img {
  /* -webkit-animation: bobbing 1s ease-in-out 0s infinite alternate; */
  -moz-animation: bobbing 1s ease-in-out 0s infinite alternate;
  animation: bobbing 1s ease-in-out 0s infinite alternate;
}

/* Desktop */

@media (min-width: 992px) {
  #services .services-row {
    display: flex;
    padding: 0px 10px;
  }

  #services .services-row .service {
    flex: 1;
  }

  #services .service-main {
    z-index: 2;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Mobile */
@media (max-width: 991px) {
  #services .services-row .service {
    /* display: flex;
        align-items: center; 
        justify-content: center; */
    position: relative;
    display: block;
  }

  #services .services-row .service-main {
    position: relative;
    transform: translate(0%, 25%);
  }
}

/* ==========================================================================
    #Projects Gallery
========================================================================== */

.projects,
.projects-item,
.projects-item figure {
  position: relative;
}

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.projects-item {
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.projects-item img {
  width: 100%;
  display: block;
}

.projects-item figure {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.projects-item figcaption {
  font-size: 1.5em;
  font-weight: 700;
  left: 50%;
  position: absolute;
  top: 44%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.projects-item figcaption {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.projects-item img {
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.member-image,
a.projects-item figure:after {
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
}

a.projects-item figure {
  color: var(--primary-light);
}

a.projects-item figure:after {
  background-color: rgba(0, 0, 0, 0.8);
  content: '';
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  position: absolute;
  transition: 0.6s ease-in-out;
  z-index: 0;
}

a.projects-item figcaption {
  height: 0;
  opacity: 0;
  z-index: 5;
}

a.projects-item figcaption:after {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  margin: 0.5rem auto 0;
}

a.projects-item:hover {
  z-index: 5;
}

a.projects-item:hover:after {
  height: 100%;
  opacity: 1;
  width: 100%;
}

a.projects-item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

a.projects-item:hover figure:after {
  opacity: 1;
}

a.projects-item:hover figcaption {
  opacity: 1;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
}

a.projects-item:hover figcaption:after {
  -webkit-animation: gallery 0.6s ease-in-out;
  animation: gallery 0.6s ease-in-out;
}

@-webkit-keyframes gallery {
  0% {
    width: 0;
  }
}

@keyframes gallery {
  0% {
    width: 0;
  }
}

.projects-item.is-hidden {
  height: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  visibility: hidden;
  width: 0;
}

@media (min-width: 640px) {
  .projects {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.projects .projects-item {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

@media (min-width: 640px) {
  .projects .projects-item {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: 1025px) {
  .projects .projects-item {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
  }
}

/* ==========================================================================
    #Clients
========================================================================== */

ul.clients li.client-logo {
  display: inline-block;
}

ul.clients li.client-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

ul.clients {
  margin: 30px 0px;
  padding: 0px;
}
ul.clients li.client-logo {
  margin-bottom: 20px;
}
